---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Pull colors from config to put in CSS
/* Dark mode */
html, html[data-theme="dark"] { 
        {% for c in site.colors.dark-mode %}
        --{{c[0]}}: {{c[1]}};
        {% endfor %}
}
html[data-theme="light"] { 
        {% for c in site.colors.light-mode %}
        --{{c[0]}}: {{c[1]}};
        {% endfor %}
}

/* Light mode */
@media (prefers-color-scheme: light) {
    html, html[data-theme="light"] { 
        {% for c in site.colors.light-mode %}
        --{{c[0]}}: {{c[1]}};
        {% endfor %}
    }
    html[data-theme="dark"] { 
        {% for c in site.colors.dark-mode %}
        --{{c[0]}}: {{c[1]}};
        {% endfor %}
    }
}


.no-line-height{line-height:0;}
ul{margin:0; padding:0; list-style:none;}
ul li{  padding:0 0 0 25px; position:relative;}
ul li input{position: absolute; top:5px; left:0; opacity:0.5;}
#tags ul{display: inline-block;}
#tags li{display: inline-block; padding:15px 5px;}
#tags a{padding:10px; position:relative; background-color:var(--accent-color); color:var(--primary-text-color); border:dotted 2px var(--primary-text-color);}
#tags a:hover{background-color:var(--menu-color)}

#tips ul{display: inline-block;}
#tips li{display: inline-block; padding:0px 5px;}
#tips p{padding:10px; position:relative; color:var(--primary-text-color); border:dotted 2px var(--primary-text-color);}

.components ul{display: inline-block;}
.components li{display: inline-block; margin-top: 1rem;}
.components p{position:relative; color:var(--primary-text-color); text-align: center; margin: 0;}

@media all and (min-width:40em){
.bg-blue-tile:after{position:absolute; top:0; left:0; right:0; bottom:0; content:" "; box-shadow:inset 0 0 100px 20px var(--accent-color); z-index:1; pointer-events:none;}
}

.bg-preffered-tile { background-color: var(--accent-color) }

.max-width-4{max-width:64em}
.max-width-3{max-width:52em}
.max-width-2{max-width:40em}

.search input{border-radius:5px; border:2px solid var(--primary-text-color); box-shadow:0 0 14px rgba(var(--accent-color),0.1); width:100%; padding:1.5rem; background-color:var(--background-color); color:var(--primary-text-color)}
.search input:focus{outline:none; border:2px solid var(--accent-color);}
.search input::placeholder{color:lightgrey;}

.hero{height:150px;}
.post h1{margin-top:3rem}
.post ol, .post ul{}
.post li{margin-bottom:1rem; padding:0 0 0 1rem;}
.post li:before{content:"- "; position:absolute; left:0; color:var(--accent-color)}

a .image{transition:.2s ease all; opacity:1; border-radius:8px;}
a:hover .image{opacity:0.2;}
.ingredients p{margin-bottom:0.5rem;}

.post-content h3{font-size:1.5rem;}
.post-content li, .post-content li p{font-size:1.1rem;}

.bg-preffered{border-radius:8px; overflow:hidden;}

.sell .sm-col a{text-decoration:none; color:var(--link-color); border-bottom:2px solid rgba(255,255,255,0.5);}

.ratio{padding-top:50%; background-position: center center; background-repeat:no-repeat;}

.title{font-weight:400; text-align:center; width:100%; font-size:clamp(0.8rem, 5vw, 1.5rem); padding-left:0.5rem; padding-right:0.5rem; box-sizing:border-box;}

@media all and (max-width:40em){
.title{font-size:clamp(0.7rem, 4vw, 1.1rem);}
.left-align{text-align:center;}
.right-align{text-align:center;}
}

@media all and (max-width: 300px){
.title{font-size:1.3rem; text-align:center; box-sizing:border-box; width:100%; font-weight:400;}
.xs-center{text-align: center}
.site-title{bottom:-28px; top:auto; left:50%; margin-left:-25px; border-radius:200px; transition:.2s ease bottom}
.site-title:hover{bottom:-14px;}
.recipes .sm-col{border-bottom:3px solid white}
}

.border-1 { border-width: 1px; }
.border-1:active { border-width: 1px; }
.capitalize { text-transform: capitalize; }
