---
layout: default
---

<div class="home"> 

  <div class="recipes xs-px2 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="xs-col sm-col xs-col-6 sm-col-4 md-col-4 lg-col-3 xl-col-2 xs-px1 xs-mb2">
          <a class="block relative bg-preffered" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p1 m0 absolute bold white-contrast bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>
  
  <div class="sell bg-preffered-tile mt4">
    <div class="clearfix px2">
      <div class="sm-col md-col-6 px2 md-px4 py2 md-py4">
        <h1>Measurement Conversions</h1>
        <p>1 Tbsp = 15 mL or 3 tsp</p>
        <p>1 tsp = 5 mL</p>
        <p>1 fl oz = 6 tsp or 2 Tbsp or 30 mL</p>
        <p>1 Cup = 48 tsp or 16 tbsp or 8 fl oz</p>
        <p>1 Pint = 2 Cups or 16 fl oz</p>
        <p>1 Quart = 4 Cups or 2 Pints or 32 fl oz</p>
        <p>1 Gallon = 4 Quarts or 128 fl oz</p>
        <p><a href="{{site.baseurl}}/tips/unit-conversions">More</a></p>
      </div>
    </div>
  </div>
  
  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
      <p>This is a personal collection of recipes. Not all of these recipes are original, and the recipes from other sites are ones that I pulled so I could make notes on them and keep them together in a single collection.</p>
    </div>
  </div>

</div>
