---
layout: default
---

<div class="home"> 

  <div class="recipes xs-px2 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="xs-col sm-col xs-col-6 sm-col-4 md-col-4 lg-col-3 xl-col-2 xs-px1 xs-mb2">
          <a class="block bg-preffered" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p1 m0"><span class="title-text">{{ post.title }}</span></h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>
  
  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
      <p>This is a personal collection of recipes. Not all of these recipes are original, and the recipes from other sites are ones that I pulled so I could make notes on them and keep them together in a single collection.</p>
    </div>
  </div>

</div>
