<div class="site-header-inner">
  <div class="site-wordmark">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <nav class="menu" role="navigation">
      <ul id="menu">
        <a href="{{ "/search" | prepend: site.baseurl}}" class="icon-link" aria-label="{{ site.translation[site.language].search }}"><li><i class="fa fa-search"></i></li></a>
        <a href="{{ "/categories" | prepend: site.baseurl}}" class="icon-link" aria-label="{{ site.translation[site.language].categories }}"><li><i class="fa fa-tags"></i></li></a>
        <a href="" id="theme-toggle" class="icon-link" onclick="modeSwitcher()" aria-label="{{ site.translation[site.language].theme }}"><li><i class="fa fa-adjust"></i></li></a>
      </ul>
  </nav>
</div>