---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import { getRecipeImage } from '../utils/images';

const recipes = (await getCollection('recipes')).sort((a, b) => a.data.title.localeCompare(b.data.title));
---
<Layout>
  <div class="recipes-grid">
    {recipes.map((recipe) => (
      <a class="recipe-card" href={`/recipes/${recipe.id}`}>
        <div class="card-image-wrap">
          <Image
            src={getRecipeImage(recipe.data.image)}
            alt={recipe.data.title}
            width={500}
            format="webp"
            quality={75}
            class="card-image"
          />
        </div>
        <h1 class="title"><span class="title-text">{recipe.data.title}</span></h1>
      </a>
    ))}
  </div>
  <div class="page-intro">
    <p>
      This is a personal collection of recipes. Not all of these recipes are original, and the recipes
      from other sites are ones that I pulled so I could make notes on them and keep them together in a
      single collection.
    </p>
  </div>
</Layout>
