---
const { title } = Astro.props;
---
<div class="site-header-inner">
  <div class="site-wordmark">
    <a href="/">{title}</a>
  </div>
  <nav class="menu" role="navigation">
    <ul id="menu">
      <a href="/search" class="icon-link" aria-label="Search"><li>🔍</li></a>
      <a href="/categories" class="icon-link" aria-label="Categories"><li>🏷️</li></a>
      <a href="" id="theme-toggle" class="icon-link" onclick="modeSwitcher(); return false;" aria-label="Theme"><li>🌓</li></a>
    </ul>
  </nav>
</div>
